<mat-toolbar color="primary">
  <span>SiaPrime</span>
</mat-toolbar>


<div class="center">
  <form [formGroup]="form" (keydown.enter)="onSubmit(form)" (ngSubmit)="onSubmit(form)">
    <mat-form-field appearance="outline" class="search-width search-bar">
      <mat-label>Explorer</mat-label>
      <input matInput formControlName="searchStr" placeholder="Search Transaction, contract, block, address">
      <mat-icon matSuffix>near_me</mat-icon>
    </mat-form-field>
  </form>
</div>

<spc-dashboard></spc-dashboard>


