.search-width
  width: 80%

.search-bar
  padding-top: 40px

.center
  margin: auto
  width: 50%
  padding: 10px

::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix
  padding: 0.7em 0 0.7em 0 !important
  top: -0.25em





