<ng-container *ngIf="host">
  <mat-card>
      <mat-card-title>Host Information (All Prices in SCP)</mat-card-title>
      <mat-card-subtitle><pre>Public Key:         {{host?.publicKey}}</pre></mat-card-subtitle>
      <mat-card-subtitle><pre>Block First Seen:   {{host?.firstSeen}}</pre></mat-card-subtitle>
      <mat-card-subtitle><pre>Absolute Score:     --Insert Score here--</pre></mat-card-subtitle>
    <h4>Host Settings:</h4>
    <mat-card-content>
      <pre>Accepting Contracts:               {{host?.acceptingContracts ? 'Yes' : 'No'}}</pre>
      <pre>Total Storage:                     {{host?.totalStorage }}</pre>
      <pre>Remaining Storage:                 {{host?.remainingStorage }}</pre>
      <pre>Offered Collateral (GB / Mo):      {{host?.collateralPrice}}</pre>
      <br/>
      <pre>Contract Price:                    {{host?.contractPrice }}</pre>
      <pre>Storage Price (GB / Mo):           {{host?.storagePrice}}</pre>
      <pre>Download Price (1 GB):             {{host?.downloadBandWidthPrice}}</pre>
      <pre>Upload Price (1 GB):               {{host?.uploadBandWidthPrice}}</pre>
      <pre>Version:                           {{host?.version}}</pre>
    </mat-card-content>
    <br/>
    <h4>Score Breakdown:</h4>
    <mat-card-content>
      <pre>Age:                   {{host.scoreBreakDown?.ageadjustment}}</pre>
      <pre>Burn:                  {{host.scoreBreakDown?.burnadjustment}}</pre>
      <pre>Collateral:            {{host.scoreBreakDown?.collateraladjustment}}</pre>
      <pre>Interaction:           {{host.scoreBreakDown?.interactionadjustment}}</pre>
      <pre>Price:                 {{host.scoreBreakDown?.collateraladjustment?.pricesmultiplier}}</pre>
      <pre>Storage:               {{host.scoreBreakDown?.collateraladjustment?.storageremainingadjustment}}</pre>
      <pre>Uptime:                {{host.scoreBreakDown?.collateraladjustment?.uptimeadjustment}}</pre>
      <pre>Version:               {{host.scoreBreakDown?.versionadjustment}}</pre>
    </mat-card-content>
    <br/>
    <mat-card-content>
      <pre>Scan History Length:   {{host.scanHistory.length}}</pre>
      <pre>Overall Uptime:        {{host.uptime}}</pre>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="closeView.emit()">BACK</button>
    </mat-card-actions>
  </mat-card>
</ng-container>
