<div>
  <div fxLayout="row wrap" fxLayoutGap="16px" class="align">
    <mat-card fxFlex.lg="0 1 calc(33% - 16px)" fxFlex.xs="calc(100% - 16px)">
      <mat-card-header>
        <mat-card-title>
          <mat-card-subtitle>Height</mat-card-subtitle>
          {{this.consensus$?.height}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item>Block Hash: {{this.consensus$?.currentblock}}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><div [spcTimeElapse]="this.block$?.timestamp"></div> </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>New Contracts:</mat-list-item>
          <mat-divider>Unconfirmed Transactions:</mat-divider>
          <mat-list-item>Item 3</mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
    <mat-card>CARD 2</mat-card>
    <mat-card id="last-card">CARD 3</mat-card>
  </div>
</div>
