<mat-tab-group>
  <mat-tab label="Status">
    <ng-template matTabContent>
      <mat-card>
        <mat-card-title>Sia Prime</mat-card-title>
        <mat-card-content>
          <h2 mat-line><pre>{{consensus$?.synced ? 'Synchronized' : 'Not Synchronized'}}</pre></h2>
          <h2 mat-line><pre>Block Height:                 {{consensus$?.height}}</pre></h2>
          <h2 mat-line><pre>Total Host:                   {{hosts$?.all.length}}</pre></h2>
          <h2 mat-line><pre>Active (accepting contracts): {{hosts$?.active.length}}</pre></h2>
          <h2 mat-line><pre>Online (recently checked):    {{hosts$?.online.length}}</pre></h2>
        </mat-card-content>
        <ng-container *ngIf="hosts$.all.length">
          <mat-card-actions>
            <button mat-raised-button color="primary" (click)="exportToCSV()">Export CSV</button>
          </mat-card-actions>
        </ng-container>
      </mat-card>
    </ng-template>
  </mat-tab>
  <mat-tab label="Host List">
    <ng-container *ngIf="!detailedView">
      <table mat-table [dataSource]="hosts$.active" class="mat-elevation-z8">
        <ng-container matColumnDef="Announced Address">
          <th mat-header-cell *matHeaderCellDef>Announced Address</th>
          <td mat-cell *matCellDef="let h" (click)="detailedView = h"> {{h.netAddress}} </td>
        </ng-container>
        <ng-container matColumnDef="Used Storage">
          <th mat-header-cell *matHeaderCellDef>Used Storage (GB)</th>
          <td mat-cell *matCellDef="let h"> {{h.usedStorage}} </td>
        </ng-container>
        <ng-container matColumnDef="Remaining Storage">
          <th mat-header-cell *matHeaderCellDef>Remaining Storage (GB)</th>
          <td mat-cell *matCellDef="let h"> {{h.remainingStorage}} </td>
        </ng-container>
        <ng-container matColumnDef="Total Storage">
          <th mat-header-cell *matHeaderCellDef>Total Storage (GB)</th>
          <td mat-cell *matCellDef="let h"> {{h.totalStorage}} </td>
        </ng-container>
        <ng-container matColumnDef="Contract Price">
          <th mat-header-cell *matHeaderCellDef>Contract Price (SCP)</th>
          <td mat-cell *matCellDef="let h"> {{h.contractPrice}} </td>
        </ng-container>
        <ng-container matColumnDef="Storage Price per/GB/month">
          <th mat-header-cell *matHeaderCellDef>Storage Price per/GB/month (SCP)</th>
          <td mat-cell *matCellDef="let h"> {{h.storagePrice}} </td>
        </ng-container>
        <ng-container matColumnDef="Offered Collateral per GB/month">
          <th mat-header-cell *matHeaderCellDef>UOffered Collateral per GB/month</th>
          <td mat-cell *matCellDef="let h"> {{h.collateralPrice}} </td>
        </ng-container>
        <ng-container matColumnDef="Upload Bandwidth price per GB">
          <th mat-header-cell *matHeaderCellDef>Upload Bandwidth price per GB</th>
          <td mat-cell *matCellDef="let h"> {{h.uploadBandWidthPrice}} </td>
        </ng-container>
        <ng-container matColumnDef="Download Bandwidth price per GB">
          <th mat-header-cell *matHeaderCellDef>Download Bandwidth price per GB</th>
          <td mat-cell *matCellDef="let h"> {{h.downloadBandWidthPrice}} </td>
        </ng-container>
        <ng-container matColumnDef="Running Version First seen (blockheight)">
          <th mat-header-cell *matHeaderCellDef>Running Version First seen (blockheight)</th>
          <td mat-cell *matCellDef="let h"> {{h.firstSeen}} </td>
        </ng-container>
        <ng-container matColumnDef="Uptime (uptime/totaltime)">
          <th mat-header-cell *matHeaderCellDef>Uptime (uptime/totaltime)</th>
          <td mat-cell *matCellDef="let h"> {{h.uptime}} </td>
        </ng-container>
        <ng-container matColumnDef="Last Successful Scan">
          <th mat-header-cell *matHeaderCellDef>Last Successful Scan</th>
          <td mat-cell *matCellDef="let h"> {{h.scanHistory | runFunction:mostRecentScan | date:'short'}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </ng-container>
    <ng-container *ngIf="detailedView">
      <spc-host-detail [host]="detailedView" (closeView)="detailedView = null"></spc-host-detail>
    </ng-container>
  </mat-tab>
</mat-tab-group>

